@page "/"

<button>Save</button>
<button>Preview</button>
<button>Send</button>
<br />
<br />
<div class="w-100 display-row h-70">
    <div class="w-50 m-l0-ra p-16 h-100">
        <input placeholder="example@email.com" type="email" class="w-100" />
        <br />
        <br />
        <iframe class="w-100 h-100"></iframe>
    </div>
    <div class="w-50 m-la-r0 p-16">
        <div class="w-100 display-row">
            <input placeholder="https://example.site/rss.xml" type="url" class="m-r8 w-100" />
            <button class="m-la-r0">Add</button>
        </div>
        <br />
        <br />
        <table class="w-100">
            <tr><td>rss url</td></tr>
            <tr><td>rss url</td></tr>
            <tr><td>rss url</td></tr>
            <tr><td>rss url</td></tr>
            <tr><td>rss url</td></tr>
        </table>
    </div>
</div>
